{% extends "base.html" %}
{% block title %}
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Services API Usagers</strong></h1>
<h2><strong>Introduction:</strong></h2>
<p><strong>Sur cette page vous trouverez les APIs relatives aux applications Usagers.&nbsp;</strong></p>
<h2><strong>Liste des services:</strong></h2>
<ul>
<li>Cr&eacute;er un compte</li>
<li>Consulter son cr&eacute;dit</li>
<li>Consulter la liste des contenants en possession avec la date</li>
<li>Trouver des collecteurs en fonction des contenants en possessions</li>
<li>Historique des transactions</li>
</ul>
<p>La liste des services va s'&eacute;tendre.&nbsp;</p>
<p>La gestion des utilisateurs sera bien s&ucirc;r contr&ocirc;l&eacute;e par mot de pass, &agrave; venir</p>
<p>Preneur de vos id&eacute;es</p>
<p></p>
<p></p>
<p></p>

{% endblock %}