{% extends "base.html" %}
{% block title %}

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Services API Entreprises</strong></h1>
<h2>Introduction:</h2>
<p>Certains services ne seront disponibles que pour certaines entreprises ... A pr&eacute;ciser dans les jours &agrave; venir</p>
<h2>Liste des services:</h2>
<ul>
<li>D&eacute;clarer des identifiants entreprise et les g&eacute;rer</li>
<li>D&eacute;clarer les services propos&eacute;s (il peut y en avoir plusieurs) et les donn&eacute;es associ&eacute;es (lieu, compatibilit&eacute; contenants, d&eacute;bit, Co&ucirc;ts, impact CO2, impact eau, &hellip;)
<ul>
<li>D&eacute;clarer une activit&eacute; de distribution</li>
<li>D&eacute;clarer une activit&eacute; de collecte</li>
<li>D&eacute;clarer une activit&eacute; de transport</li>
<li>D&eacute;clarer une activit&eacute; de lavage</li>
<li>D&eacute;clarer une activit&eacute; de production</li>
<li>Piloter les services par usager pro</li>
</ul>
</li>
<li>Tableau de bord des services enregistr&eacute;s
<ul>
<li>Par service carto, donn&eacute;es, pilotage, &hellip;</li>
</ul>
</li>
<li>Gestion financi&egrave;re et extra-financi&egrave;re</li>
</ul>
<p>Liste &agrave; compl&eacute;ter&nbsp;</p>
<p></p>
<p></p>


{% endblock %}