{% extends "base.html" %}
{% block title %}
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Services API Usagers</strong></h1>
<h2><strong>Introduction:</strong></h2>
<p><strong>Sur cette page vous trouverez les APIs relatives aux applications Usagers.&nbsp;</strong></p>
<h2><strong>Liste des services:</strong></h2>
<ul>
<li>Cr&eacute;er un compte et le g&eacute;rer (mdp, tel, adresse, &hellip;)</li>
<li>Consulter son cr&eacute;dit, le provisionner, choisir des opportunit&eacute;s marketing (gamification, op&eacute; marketing, &hellip;), solder son cr&eacute;dit</li>
<li>Consulter les contenants en possession, voir dates associ&eacute;es (transaction associ&eacute;e)</li>
<li>Transf&eacute;rer un contenant en sa possession vers un autre usager</li>
<li>Trouver un collecteur proche en fonction de ses contenants</li>
<li>Faire le lien avec des programmes de consignes &laquo;&nbsp;affili&eacute;&nbsp;&raquo; (compte entreprise, compte fid enseigne, &hellip;)</li>
</ul>
<p>La liste des services va s'&eacute;tendre.&nbsp;</p>
<p>La gestion des utilisateurs sera bien s&ucirc;r contr&ocirc;l&eacute;e par mot de pass, &agrave; venir</p>
<p>Preneur de vos id&eacute;es</p>
<p></p>
<p></p>
<p></p>

{% endblock %}