{% extends "base.html" %}
{% block title %}
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Services Market Place</strong></h1>
<h2>Introduction:</h2>
<p>Vous trouverez sur cette page les services disponibles sur la marketplace. Ils portent aussi bien sur la d&eacute;couverte du sujet, l'inventaire des services, l'inventaire des acteurs, ...</p>
<p>Ces services sont disponibles en acc&egrave;s libres et doivent vous permettre de rentrer dans la danse.&nbsp;</p>
<h2>Les services:</h2>
<ul>
<li>Contenants r&eacute;f&eacute;renc&eacute;s
<ul>
<li>Nombre de contenants dans la danse</li>
<li>Recherche par crit&egrave;res : mati&egrave;re, poids, ...</li>
<li>Les marques repr&eacute;sent&eacute;es</li>
</ul>
</li>
<li>Lieux de distribution
<ul>
<li>Entrer une adresse, d&eacute;finir les crit&egrave;res</li>
</ul>
</li>
<li>Lieux de collectes
<ul>
<li>Entrer une adresse, d&eacute;finir les crit&egrave;res</li>
</ul>
</li>
<li>Zones couvertes
<ul>
<li>Entrer une adresse</li>
</ul>
</li>
<li>Services de lavages
<ul>
<li>Entrer une adresse</li>
</ul>
</li>
<li>Les transporteurs</li>
</ul>
<p>Cette liste est bien s&ucirc;re non exhaustive, nous sommes preneurs de vos feedbacks, merci.</p>
<p></p>
<p></p>
<p></p>


{% endblock %}