{% extends "base.html" %}
{% block title %}
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Services Market Place</strong></h1>
<h2>Introduction:</h2>
<p>Vous trouverez sur cette page les services disponibles sur la marketplace. Ils portent aussi bien sur la d&eacute;couverte du sujet, l'inventaire des services, l'inventaire des acteurs, ...</p>
<p>Ces services sont disponibles en acc&egrave;s libres et doivent vous permettre de rentrer dans la danse.&nbsp;</p>
<h2>Les services:</h2>
<h4>Les Contenants</h4>
<ul>
<li>Nombre de contenants dans la danse</li>
<li>Recherche par crit&egrave;res : mati&egrave;re, poids, ...</li>
<li>Les marques repr&eacute;sent&eacute;es</li>
</ul>
<p>Page de test et d'acc&egrave;s aux APIs:&nbsp;<a href="info_contenants_V1" title="test API Contenants Info">Page Contenants</a></p>
<p></p>
<h4>Les Lieux</h4>
<ul>
<li>Lieux de distribution
<ul>
<li>Entrer une adresse, d&eacute;finir les crit&egrave;res</li>
<li>types de distribution</li>
</ul>
</li>
<li>Lieux de collectes
<ul>
<li>Entrer une adresse, d&eacute;finir les crit&egrave;res</li>
</ul>
</li>
<li>Zones couvertes</li>
</ul>
<p>Page de test et d'acc&egrave;s aux APIs:&nbsp;<a href="Localisations" title="localisations">Les localisations</a>&nbsp;</p>
<p></p>
<h4>Services de lavages</h4>
<p>Acteurs du secteur et services d&eacute;livr&eacute;s</p>
<p></p>
<h4>Les transporteurs</h4>
<p>Cette liste est bien s&ucirc;re non exhaustive, nous sommes preneurs de vos feedbacks, merci.</p>
<p></p>
<p></p>
<p></p>


{% endblock %}