{% extends "base.html" %}
{% block title %}
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Services Market Place</strong></h1>
<h2>Introduction:</h2>
<p>Vous trouverez sur cette page les services disponibles sur la marketplace. Ils portent aussi bien sur la d&eacute;couverte du sujet, l'inventaire des services, l'inventaire des acteurs, ...</p>
<p>Ces services sont disponibles en acc&egrave;s libres et doivent vous permettre de rentrer dans la danse.&nbsp;</p>
<p>Les services:</p>
<ul>
<li>Les Contenants
<ul>
<li>Nombre de contenants dans la danse</li>
<li>Recherche par crit&egrave;res : mati&egrave;re, poids, ...</li>
<li>Les marques repr&eacute;sent&eacute;es</li>
<li>Page de test et d'acc&egrave;s aux APIs:&nbsp;<u><a href="https://nutmarketplace.azurewebsites.net/info_contenants_V1">Page Contenants</a></u></li>
</ul>
</li>
</ul>
<ul>
<li>Les Lieux de distribution
<ul>
<li>Entrer une adresse, d&eacute;finir les crit&egrave;res</li>
<li>types de distribution (en hyper, distributeur, restaurateur, &hellip;)</li>
</ul>
</li>
<li>Lieux de collectes
<ul>
<li>Entrer une adresse, d&eacute;finir les crit&egrave;res notamment sur les contenants accept&eacute;s, &hellip;</li>
</ul>
</li>
<li>Zones couvertes
<ul>
<li>Acteurs en pr&eacute;sence: distributeurs, collecteurs, transporteurs, laveurs, &hellip;</li>
</ul>
</li>
<li>Services de lavage
<ul>
<li>Acteurs du secteur et services d&eacute;livr&eacute;s</li>
</ul>
</li>
<li>Services de transport
<ul>
<li>Acteurs du secteur et services d&eacute;livr&eacute;s</li>
</ul>
</li>
</ul>
<p><strong>Cette liste est bien s&ucirc;re non exhaustive, nous sommes preneurs de vos feedbacks, merci.</strong></p>
<p></p>
<p></p>
<p></p>


{% endblock %}