{% extends "base.html" %}
{% block title %}
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Services API Entreprises</strong></h1>
<h2>Introduction:</h2>
<p>Vous trouverez sur cette page des outils afin de proc&eacute;der &agrave; des simulations</p>
<h2>Liste des services:</h2>
<ul>
<li>Acte de distribution</li>
<li>Acte de collecte</li>
<li>Remplissage d'un distributeur</li>
<li>Vidage d'un collecteur</li>
<li>Test de flux suivant des lois de Poisson avec diff&eacute;rents param&egrave;tres</li>
<li>Simulateur des co&ucirc;ts suivant le mod</li>
</ul>
<p>Suite &agrave; venir</p>
<p></p>
<p></p>
<p></p>
<p></p>


{% endblock %}